<h1> <%= @title %> </h1>

<p><%= @description %> </p>

<h3>Gladiator 'Are You Not Entertained' Scene</h3>

<iframe width="420" height="315" src="//www.youtube.com/embed/FI1ylg4GKv8" frameborder="0" allowfullscreen></iframe>

<p> <%= @subtitle %> </p>

<p>If only Jay Cutler wasn't injured, the Chicago Bears would have been great this year. On an aside, anyone notice that Harsh always wears flat UI colors? Amanda is interested in having a big poster where we can keep track, for more info check out <%= @video_id %></p>

 
